@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?yd3wor');
  src:  url('../fonts/icomoon.eot?yd3wor#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?yd3wor') format('truetype'),
    url('../fonts/icomoon.woff?yd3wor') format('woff'),
    url('../fonts/icomoon.svg?yd3wor#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelop:before {
  content: "\e945";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-pinterest2:before {
  content: "\ead2";
}
