*{
	margin:0;
	padding:0;
	font-family: helvetica Neue;
	font-weight: lighter;
}
img{
	position: center;
	padding-left: 10%;
	padding-top: 10%;
	height: 80%;
	width: 80%;
}
nav{
	position: fixed;
	width: 15.6%;
	height: 100%;
	background-color: #2d2d2d;
}
ul{
	margin-top: 20%;
	list-style: none;
	display: block;
}
li{
	width: 100%;
	height:5%;
	border-bottom: 1px solid #323232;
	overflow: hidden;
}
p.menu{
	position: relative;
	padding:10px;
	padding-right: 25px;
	float:right;
	color:white;
	opacity: .6;
	font-size: 1.6em;
	transition: opacity .2s;
}

div.barra{
	position: absolute;
	height: 15.6%;
	width: 0;
	background-color: #aaa;
	opacity: .1;
	transition: width .2s;
}

li:hover div.barra{
	width:15.6%;
}

input#buscador{
	width:285px;
	height:50px;
	background-color: #3c3c3c;
	outline: none;
	border: 0;
	color: rgb(212, 179, 32);
	font-size: 1.5em;
	text-align: right;
	padding-right: 15px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 15px 15px;
	transition: background-position .2s;
	opacity: .5;
}

input#buscador:focus{
	background-position: 300px 15px;
}

::-webkit-input-placeholder{
	color:  rgb(212, 179, 32);
	text-align: right;
}

li:hover p.menu{
	opacity: 1;
}

div.social {
	margin-left: 9%; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla. */
	margin-top:60%; /* Bajamos la barra un 60% de arriba a abajo. */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
div.social ul {
	list-style: none;
}
 
div.social ul a {
	display: inline-block;
	color:#fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transición a todas las propiedades. */
}
 
div.social ul .icon-facebook2 {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class. */
div.social ul .icon-twitter {background: #00abf0;}
div.social ul .icon-pinterest2 {background: #ae181f;}
div.social ul .icon-instagram {background: #fd1d1d;}
div.social ul .icon-envelop {background: #666666;}
 
div.social ul a:hover {
	background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse. */
}
div.footer{
	margin-top: 35%;
	text-align:center;
	color:white;
}
div.imgizq{
	padding-top: 1%;
	height: 30%;
	width: 30%;
}
div.imgcent{
	padding-top: 15%;
	height: 100%;
	width: 100%;
}
div.imgder{
	padding-top: 15%;
	height: 60%;
	width: 60%;
}

#contenedor_principal{
	background-color: #00abf0;
	margin-right: 25px;
	margin-top: 25px;
	width:1570px;
	height:890px;
	float: right;
	align-items: flex-start;
	
}
.imagen{
	width:400px;
	height:auto;
	position:relative;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
}
div.texto{
	text-align:center;
	font-family: helvetica Neue;
	font-weight: lighter;
}
h1.bnb{
	font-size: 3em;
	
}
p.desc{
	font-size: 2em;
	text-align: justify;
}
p.regis{
	font-size: 2em;
}
p.start{
	font-size: 3em;
}
	